<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stack_overflow">
    <test name="Stack_overflow_tests">
        <classes>
            <class name="org.example.AppTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->